{% extends "project/base.html" %}
<!DOCTYPE html>
{% block content %}
<html>
	<head>
		<title> {{profile.username}}'s profile page </title>
	</head>
	<body>
		<li> birthday: {{profile.birth_date}} </li>
		<li> sex: {{profile.sex}} </li>
		<li> Funder or Initiator: {{profile.account}} </li>
		<li> About: {{profile.about}} </li>
		<ul>
		{% for interest in profile.interests.all %}
		 	<li> Intererests: {{ interest }} </li>
		{% endfor %}
		</ul>
	</body>
</html>
{% endblock %}
