{% extends "project/base.html" %}
<!DOCTYPE html>
{% block content %}
<html>
    <head>
        <title>Community Fund</title>
    </head>

    <body>
	<h1>Complete your CommunityFund Profile</h1>
        <form id="profile_form" method="post" action="{% url 'registerprofile' %}"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>

    </body>
</html>
{% endblock %}

